[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain_decorators = {editable = true, path = "."}
pydantic = ">=2.0"
langchain-core = "*"
typing-inspect = "*"

[dev-packages]
"ipython doctest plugin" = {file = ".", editable = true}
pytest-asyncio = "*"
python-dotenv = "*"
pytest-dotenv = "*"
ipykernel = "*"
persistqueue = "*"
autopep8 = "*"
openai = "*"
langchain = {extras = ["openai"], version = "*"}
dotenv = "*"

[requires]
python_version = "3.9"
